/* Estilos generales */
* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

/* Quienes somos*/
/* category carousel */

/* Estilo general de la sección */
.categorias {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 10px;
}

/* Estilo de cada categoría */
.categoria {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Hace el círculo */
  background-color: #f0f0f0;
  text-align: center;
  /*padding: 10px;*/
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categoria img {
  width: 150px;  /* Tamaño de la imagen */
  height: 150px; 
  object-fit: cover;
  border-radius: 50%;
  opacity: 90%;
  /*margin-bottom: 10px;*/
  
 
  
}

/* Para los textos de las categorías */
.categoria p {
  font-family: 'Cinzel Decorative';
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  position: absolute;
  color: white;
  font-weight: bolder;
  text-shadow: black 2px 2px 3px;

}

/* Efecto de hover para cuando el usuario pasa el mouse */
.categoria:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .categoria {
      width: 20%;
      
  }

  .categoria img {
      height: 100%;
      width: 100%;
        }
  .categoria p {
    font-size: 1em;
    font-family: 'Cinzel Decorative';

  }
}
.cartas_productos{
    Margin: 30px;

}


.flex-container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.card{
    border-radius: 15px;
        background: linear-gradient(135deg, #F06292, #BA68C8);
        color: #fff;
        max-width: 350px;
         margin: 0 auto;
         display: inline;
          max-height: 550px;
}

